.mui-content {
  background-color: white;
}
.mui-slider .mui-segmented-control.mui-segmented-control-inverted~.mui-slider-group .mui-slider-item {
  border-bottom: none;
}
.mui-segmented-control .mui-control-item {
    line-height: 2;
    font-size: 42px;
    color: #007aff;
    border-color: #007aff;
    border-left: 1px solid #007aff;
    background-color: #f2f2f2!important;
}
.dashboard{
  background: #FFFFFF;
  display: flex;
  flex-wrap: wrap;
  padding: 48px 24px 0 80px;
  background-color: #f2f2f2;
}
.type-tab{
  width: 187px;
  height: 63px;
  line-height: 55px;
  border-width: 4px;
  border-style: solid;
  border-color: rgba(18, 66, 221, 1);
  border-radius: 30px;
  -moz-box-shadow: 2px 2px 4px rgba(215, 215, 215, 0.996078431372549);
  -webkit-box-shadow: 2px 2px 4px rgba(215, 215, 215, 0.996078431372549);
  box-shadow: 2px 2px 4px rgba(215, 215, 215, 0.996078431372549);
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  color: #1242DD;
  text-align: center;
  margin-bottom: 24px;
  margin-right: 56px;
}
.type-tab.type-tab-active{
  color: white;
  background-color: #1242DD;
}

.exhibit-list{
  width: 1032px;
  margin: 0 auto;
}
.exhibit-item{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 24px 0;
  border-bottom: 1px solid #D7D7D7;
}
.exhibit-item:last-of-type{
  border: none;
}
.exhibit-item img{
  width: 504px!important;
  height: 248px;
  border-radius: 10px;
}
.exhibit-item .text-div{
  width: 504px;
  height: 248px;
}
.exhibit-item .text-div .title{
  font-size: 40px;
  font-weight: 500;
  color: #303133;
  line-height: 56px;
  letter-spacing: 2px;
  white-space: pre;
}
.exhibit-item .text-div .disc{
  font-size: 32px;
  font-weight: 500;
  color: #606266;
  line-height: 45px;
  letter-spacing: 1px;
  margin-top: 24px;
  white-space: pre;
}
.conf-disc{
  padding: 30px 50px;
}
.conf-disc h1{
  font-size:38px;
  font-weight:400;
  line-height:50px;
  text-transform:none;
  white-space:nowrap;
}
.conf-disc p{
  font-size:32px;
  font-weight:400;
  line-height:50px;
  overflow-wrap:break-word;
  text-align:left;
  text-rendering:optimizelegibility;
}